<!DOCTYPE html>
<html lang={{ site.language }}>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="main">
      <div class="container">
        <article class="article card">
          <header class="article-header card-header">
            <h1 class="card-heading">
              <a href="{{ page.url | prepend:site.github.url }}">
                {{ page.title }}
              </a>
            </h1>
            <div class="article-header-note">
              {{ page.date | date: "%Y年%m月%d日" }}
            </div>
            <div class="article-header-note">
              {{ page.record-date | date: "(収録日:%Y年%m月%d日)" }}
            </div>
          </header>
          <section class="card-body markdown">
            <p>
              <audio
                class="mejs-player"
                controls=""
                data-mejsoptions='{"alwaysShowControls": true, "alwaysShowHours": true, "enableAutosize": true, "features": ["playpause", "progress", "current", "duration", "volume", "speed"]}'
                preload="auto"
                src="{{ page.audio_file_path | prepend:site.github.url }}"
                width="100%"
              >
              </audio>
            </p>
            <p class="text-right">
              <small>
                <a href="{{ page.audio_file_path | prepend:site.github.url }}">MP3ファイルをダウンロード</a>
              </small>
            </p>
            <p class="text-center">
              {% if site.itunes_podcast_url %}
              <!-- Apple Podcasts -->
              <a href="{{ site.itunes_podcast_url }}" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 167px; height: 40px;" target="_blank"><img src="https://tools.applemediaservices.com/api/badges/listen-on-apple-podcasts/badge/ja-JP?size=250x83&amp;releaseDate=1612008000&h=921fd1e029703641048456ba30bb29f1" alt="Listen on Apple Podcasts" style="border-radius: 13px; width: 167px; height: 40px;"></a>
              {% endif %}
              {% if site.spotify_podcast_url %}
              <!-- Spotify -->
              <a href="{{ site.spotify_podcast_url }}" style="display: inline-block; overflow: hidden; width: 167px; height: 40px;" target="_blank"><img src="/images/spotify-podcast-badge-blk-grn-660x160.png" alt="Listen on Spotify" style="border-radius: 13px; width: 167px; height: 40px;"></a>
              {% endif %}
              <a href="http://subscribeonandroid.com/{{ site.github.url | remove: "https://" | remove: "http://" }}/feed.xml" title="Subscribe on Android" target="_blank"><img src="https://assets.blubrry.com/soa/BadgeLarge.png" alt="Subscribe on Android" style="border:0;" /></a>
            </p>
            <p class="text-center">
              <small>
                <a href="../subscribe.html">その他のサービスで聞く</a>
              </small>
            </p>
            <h2>
              内容紹介
            </h2>
            <p>
              {{ page.description }}
            </p>
            <h2>
              出演者
            </h2>
            <div class="article-actors">
              {% for actor_id in page.actor_ids %}
                {% assign actor = site.actors[actor_id] %}
                <a href="{{ actor.url }}" class="actor" target="_blank">
                  <img src="{{ actor.image_url | prepend:site.github.url }}" alt="{{ actor.name }}" class="actor-image" width="72" height="72">
                  <br>
                  {{ actor.name }}
                </a>
              {% endfor %}
            </div>
            {{ content }}
          </section>
          <footer class="article-footer">
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?hashtags={{ site.hashtag }}&url={{ site.github.url }}{{ page.url }}&text={{ page.title }}">
              Tweet
            </a>
          </footer>
        </article>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
